<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Documentación - Aeronáutica</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<img src="{{ url_for('static', filename='img/logo.png') }}"
class="logo">

<h2>FACULTAD DE TECNOLOGÍA</h2>

<h1>CARRERA DE AERONÁUTICA</h1>

<h3>PLATAFORMA DIGITAL DE AYUDA RÁPIDA</h3>

</header>

<section class="hero">

<div class="hero-contenido">

<h2>DOCUMENTACIÓN AERONÁUTICA</h2>

<p>

Acceso a documentación técnica,
anexos, circulares y material
normativo de consulta.

</p>

</div>

</section>

<main>

<div class="cards">

<a href="https://drive.google.com/drive/folders/1dLuZtyhX_XnBK_ux5YhcZldJYJdV0NPz?usp=drive_link"
target="_blank"
class="card manuales">

<div class="icono">📂</div>

<h2>ANEXOS</h2>

<p>
Anexos y documentación
normativa aeronáutica.
</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/1tEhyUA1Lr7RiPb2S8UxBzUAMzGYxI6jk?usp=drive_link"
target="_blank"
class="card documentacion">

<div class="icono">📑</div>

<h2>CIRCULARES</h2>

<p>
Circulares y material
de consulta técnica.
</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/1q_4c2Zt6r1nF2JwOH3cdA3npgzZhPIp3?usp=drive_link"
target="_blank"
class="card herramientas">

<div class="icono">🌍</div>

<h2>FACILITACIONES</h2>

<p>
Documentación relacionada
con facilitación aeronáutica.
</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/1IH3GZQLibF8uALXdL4WnGCxeu1b4Cg-T?usp=drive_link"
target="_blank"
class="card maquinas">

<div class="icono">🌱</div>

<h2>MEDIO AMBIENTE</h2>

<p>
Normativa y documentación
ambiental aeronáutica.
</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/1_cwaen-96bEy4Y0_ykjL7Nr3BNDJwM16?usp=drive_link"
target="_blank"
class="card qr">

<div class="icono">📁</div>

<h2>OTROS</h2>

<p>
Material complementario
y recursos adicionales.
</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

</div>

</main>

<footer>

<div class="footer-contenido">

<span>🎓 UNIVERSIDAD MAYOR DE SAN ANDRÉS</span>

<span>🏛 FACULTAD DE TECNOLOGÍA</span>

<span>✈ CARRERA DE AERONÁUTICA</span>

</div>

</footer>

</body>

</html>