```html
<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Manuales - Aeronáutica</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<img src="{{ url_for('static', filename='img/logo.png') }}"
class="logo">

<h2>FACULTAD DE TECNOLOGÍA</h2>

<h1>CARRERA DE AERONÁUTICA</h1>

<h3>PLATAFORMA DIGITAL DE AYUDA RÁPIDA</h3>

</header>

<section class="hero">

<div class="hero-contenido">

<h2>MANUALES AERONÁUTICOS</h2>

<p>

Acceso rápido a manuales técnicos,
documentación y manuales de motores.

</p>

</div>

</section>

<main>

<div class="cards">

<a href="https://drive.google.com/drive/folders/1jVG-E1g2OFDNVhMRL_731bL6SVDjwxmH?usp=drive_link"
target="_blank"
class="card manuales">

<div class="icono">📘</div>

<h2>MANUALES DOCUMENTOS</h2>

<p>

Documentación técnica,
procedimientos y manuales.

</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/1l6kJacMbPGbXsQwvSE7avW2KybGAfLl5?usp=drive_link"
target="_blank"
class="card documentacion">

<div class="icono">⚙️</div>

<h2>MANUALES MOTORES</h2>

<p>

Manuales técnicos
de motores aeronáuticos.

</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

</div>

</main>

<footer>

<div class="footer-contenido">

<span>🎓 UNIVERSIDAD MAYOR DE SAN ANDRÉS</span>

<span>🏛 FACULTAD DE TECNOLOGÍA</span>

<span>✈ CARRERA DE AERONÁUTICA</span>

</div>

</footer>

</body>

</html>
```
