```html
<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Máquinas - Aeronáutica</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<img src="{{ url_for('static', filename='img/logo.png') }}"
class="logo">

<h2>FACULTAD DE TECNOLOGÍA</h2>

<h1>CARRERA DE AERONÁUTICA</h1>

<h3>PLATAFORMA DIGITAL DE AYUDA RÁPIDA</h3>

</header>

<section class="hero">

<div class="hero-contenido">

<h2>MÁQUINAS Y EQUIPOS</h2>

<p>

Seleccione una máquina para acceder a información técnica,
manuales, videos y recursos de apoyo.

</p>

</div>

</section>

<main>

<div class="cards">

<a href="/maquinas/amoladora" class="card manuales">

<div class="icono">🛠️</div>

<h2>AMOLADORA</h2>

<p>Información técnica y recursos.</p>

<span class="btn-card">
Abrir →
</span>

</a>

<a href="/maquinas/esmeril" class="card documentacion">

<div class="icono">⚙️</div>

<h2>ESMERIL</h2>

<p>Información técnica y recursos.</p>

<span class="btn-card">
Abrir →
</span>

</a>

<a href="/maquinas/prensa" class="card herramientas">

<div class="icono">🏭</div>

<h2>PRENSA</h2>

<p>Información técnica y recursos.</p>

<span class="btn-card">
Abrir →
</span>

</a>

<a href="/maquinas/oxiacetileno" class="card maquinas">

<div class="icono">🔥</div>

<h2>OXIACETILENO</h2>

<p>Información técnica y recursos.</p>

<span class="btn-card">
Abrir →
</span>

</a>

<a href="/maquinas/arco" class="card qr">

<div class="icono">⚡</div>

<h2>ARCO ELÉCTRICO</h2>

<p>Información técnica y recursos.</p>

<span class="btn-card">
Abrir →
</span>

</a>

<a href="/maquinas/taladro" class="card manuales">

<div class="icono">🛠</div>

<h2>TALADRO</h2>

<p>Información técnica y recursos.</p>

<span class="btn-card">
Abrir →
</span>

</a>

<a href="/maquinas/tecle" class="card documentacion">

<div class="icono">🏗</div>

<h2>TECLE</h2>

<p>Información técnica y recursos.</p>

<span class="btn-card">
Abrir →
</span>

</a>

<a href="/maquinas/torno" class="card herramientas">

<div class="icono">🔩</div>

<h2>TORNO</h2>

<p>Información técnica y recursos.</p>

<span class="btn-card">
Abrir →
</span>

</a>

<a href="https://drive.google.com/drive/folders/13iBzal1wSwOw8G3-MznryCFKau_q9BKy?usp=sharing"
   target="_blank"
   class="card maquinas">

<div class="icono">📂</div>

<h2>VER OTROS</h2>

<p>
Equipos y recursos adicionales
disponibles en la carpeta general.
</p>

<span class="btn-card">
Abrir →
</span>

</a>



</div>

</main>

<footer>

<div class="footer-contenido">

<span>🎓 UNIVERSIDAD MAYOR DE SAN ANDRÉS</span>

<span>🏛 FACULTAD DE TECNOLOGÍA</span>

<span>✈ CARRERA DE AERONÁUTICA</span>

</div>

</footer>

</body>

</html>
```
