<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>QR - Aeronáutica</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<img src="{{ url_for('static', filename='img/logo.png') }}"
class="logo">

<h2>FACULTAD DE TECNOLOGÍA</h2>

<h1>CARRERA DE AERONÁUTICA</h1>

<h3>PLATAFORMA DIGITAL DE AYUDA RÁPIDA</h3>

</header>

<section class="hero">

<div class="hero-contenido">

<h2>RECURSOS QR</h2>

<p>

Seleccione una máquina para acceder directamente
a la carpeta de videos y recursos multimedia.

</p>

</div>

</section>

<main>

<div class="cards">

<a href="https://drive.google.com/drive/folders/10DJYFrWJWOSyM3FX8C76NuI77qLufRcl?usp=drive_link"
target="_blank"
class="card manuales">

<div class="icono">🛠️</div>

<h2>AMOLADORA</h2>

<p>Videos y recursos multimedia.</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/1qa0j8Zst7DM9pui7VQl0UCrZc7Z65moI?usp=drive_link"
target="_blank"
class="card documentacion">

<div class="icono">⚙️</div>

<h2>ESMERIL</h2>

<p>Videos y recursos multimedia.</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/1DmFKnZyrMxXKHu5GDnRj9IEh-XLBAnKJ?usp=drive_link"
target="_blank"
class="card herramientas">

<div class="icono">🏭</div>

<h2>PRENSA</h2>

<p>Videos y recursos multimedia.</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/112Z2JRAQYRqp6alKlmH8VUP-xGf7K4sG?usp=drive_link"
target="_blank"
class="card maquinas">

<div class="icono">🔥</div>

<h2>OXIACETILENO</h2>

<p>Videos y recursos multimedia.</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/1pxhNW9ZxC1aCT2L49i4mZwx6Mr1nGsPK?usp=drive_link"
target="_blank"
class="card qr">

<div class="icono">⚡</div>

<h2>ARCO ELÉCTRICO</h2>

<p>Videos y recursos multimedia.</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/1gxrq55cmB8vBcJ9nIibP2MDBsDzTaSZ_?usp=drive_link"
target="_blank"
class="card manuales">

<div class="icono">🛠</div>

<h2>TALADRO</h2>

<p>Videos y recursos multimedia.</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/1Iasm5pHwJCnBxkjfRdBxUeQ6a5KOaafG?usp=drive_link"
target="_blank"
class="card documentacion">

<div class="icono">🏗</div>

<h2>TECLE</h2>

<p>Videos y recursos multimedia.</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/1nm_lL9O-kbvwgwV3UuxGnbPPrlbuYVlk?usp=drive_link"
target="_blank"
class="card herramientas">

<div class="icono">🔩</div>

<h2>TORNO</h2>

<p>Videos y recursos multimedia.</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

<a href="https://drive.google.com/drive/folders/156w3cAxuskntbXBmkG7GFe-AfDxFeMPQ?usp=drive_link"
target="_blank"
class="card maquinas">

<div class="icono">📦</div>

<h2>UTILLAJE</h2>

<p>Videos y recursos multimedia.</p>

<span class="btn-card">
Abrir Carpeta →
</span>

</a>

</div>

</main>

<footer>

<div class="footer-contenido">

<span>🎓 UNIVERSIDAD MAYOR DE SAN ANDRÉS</span>

<span>🏛 FACULTAD DE TECNOLOGÍA</span>

<span>✈ CARRERA DE AERONÁUTICA</span>

</div>

</footer>

</body>

</html>